@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }

body, html {
  font-family: 'Quicksand', sans-serif;
}
